---
title: オフラインリアルタイムどう書く E08 の問題 - 白黒陣取りゲーム
date: 2016-10-01 16:00 JST
tags:
---

ruby:
  all_json = JSON.parse(File.read(File.join(__dir__, "2016-10-01-doukaku-e08/doukaku.json")), symbolize_names: true)
  json = all_json[0..-2]
  missing = all_json.last

markdown:
  [オフラインリアルタイムどう書く](https://yhpg.doorkeeper.jp/events/51818) E08 の問題です。

  ## 問題の概要

  18 × 18 マスの盤上に、以下の図のように白と黒のコマが置かれている。白陣営と黒陣営、各々の陣地の広さを求めよ。

img{src=json[0][:image]}

markdown:
  ## ルール

  1. 各陣営のコマを結んで作った長方形が陣地になる。
  2. 長方形の中に相手のコマがあると陣地にならない。
  3. コマはマス目通りに線で結ぶ。つまり、斜めには結ばない。

  ## 入力

  `d3d4e3e4d9h7h9j3j4j7j9,f4f6g4g5g6h5h6` のような形式。

  `<白のコマの配置>,<黒のコマの配置>` のように、陣営はカンマで区切られている。

  アルファベットが横軸の座標、数字が縦軸の座標。

  ## 出力

  `5,3` のような形式。

  `<白の陣地の広さ>,<黒の陣地の広さ>`。

  ## 補足

  実装ができた方は [Qiitaの記事](http://qiita.com/mtsmfm/items/94ebd353fa3b7e608f68) のコメント欄からリンクを張っていただくと見つけやすくて助かります。

  ## イベント終了後追記

  以下のようにお互いの陣地が重なってしまった場合を考慮していませんでした。

  が、テストデータに存在しないので気にしなくていいです。

img{src=missing[:image]}

h2 サンプルデータ

table
  thead
    tr
      th #
      th 入力
      th 期待
      th 状況へのリンク

  tbody
    - json.each.with_index do |data, i|
      tr
        td= i
        td= data[:input]
        td= data[:expected]
        td= link_to '状況', '', anchor: i

h2 テストデータ
textarea= json.map.with_index {|d, i| %!/*#{i}*/ test("#{d[:input]}", "#{d[:expected]}")! }.join("\n")

h2 状況一覧

- json.each.with_index do |data, i|
  h3{id= i} ##{i} : #{data[:input]}
  img{src=data[:image]}
  hr
