---
title: オフラインリアルタイムどう書く E06 の問題 - 目指せホゲモンマスター
date: 2016-08-06 16:00 JST
tags:
---

markdown:
  [オフラインリアルタイムどう書く](https://yhpg.doorkeeper.jp/events/48610) E06 の問題です。

  ## 問題の概要

  ホゲモンリーグを勝ち抜いて、ホゲモンマスターになろう!

  ## ルール

  プレイヤー同士でホゲモンを戦わせ、総当たり戦を行う。

  1. プレイヤーは手持ちの中で登録した順に 1 匹づつホゲモンを繰り出し、常に 1 対 1 で戦う
  - ホゲモンには体力があり、 0 以下になるともう行動することはできない

  ### 戦闘について

  1. 戦闘はターン制で、1 ターンに 1 回攻撃できる
  - レベルが高い方が先に攻撃する
    - レベルが低い方は、体力が残っていたら攻撃する
  - レベルが同じ場合、同時に攻撃する

  ### ダメージについて

  1. ホゲモンには R/G/B 3 つのタイプがある

    次のようなタイプ相性になっている:
    ![タイプ相性](2016/08/06/type.png)

  2. 有利な方は、相手に 4 ダメージを与える
  - 不利な方は、相手に 1 ダメージを与える
  - タイプが同じ場合、相手に 2 ダメージを与える

  ### 体力について

  1. ホゲモンの初期体力はレベルと同じ
  - プレイヤー同士で戦いを始める前に、お互いの手持ちのホゲモンの体力を回復する

  ## 入力

  `9B,3R2G,1R2B3G` のような形式。
  プレイヤーをカンマで区切っている。
  数字がホゲモンのレベル、R/G/B がホゲモンのタイプ。

  ## 出力

  `1,3,2` のような形式。
  数字はプレイヤーが入力で何番目にいたか。
  プレイヤーを勝数順でカンマで区切って並べる。
  勝数が同じ場合は入力と同じ順とする。

  ## 戦闘の例

  3R2G 対 1R2B3G は次のような戦いを経て、1R2B3G 側の勝利になる。

  ![例](2016/08/06/battle.png)

  ## 補足

  実装ができた方は [Qiitaの記事](http://qiita.com/mtsmfm/items/7a0bfd2ac5b7674ce8c7) のコメント欄からリンクを張っていただくと見つけやすくて助かります。

h2 サンプルデータ

ruby:
  json = JSON.parse(File.read(File.join(__dir__, "2016-08-06-doukaku-e06/doukaku.json")), symbolize_names: true)

table
  thead
    tr
      th #
      th 入力
      th 期待

  tbody
    - json.each.with_index do |data, i|
      tr
        td= i
        td= data[:input]
        td= data[:expected]

h2 テストデータ
textarea= json.map.with_index {|d, i| %!/*#{i}*/ test("#{d[:input]}", "#{d[:expected]}")! }.join("\n")
