---
title: オフラインリアルタイムどう書く E10 の問題 - 塗って繋ぐ
date: 2016-12-03 16:00 JST
tags:
---

markdown:
  [オフラインリアルタイムどう書く](https://yhpg.doorkeeper.jp/events/53794) E10 の問題です。

  ## 問題の概要

  黒い正方形それぞれを9等分して5箇所を白く塗る操作を X、4箇所を白く塗る操作を O とする。
  操作を繰り返した結果、白の領域が繋がった部分がいくつになったか求めよ。

  ### X

  ![操作X](2016/12/03/x.svg)

  ### O

  ![操作X](2016/12/03/o.svg)

  ### XO

  ![操作X](2016/12/03/xo.svg)

markdown:
  ## ルール


  ## 入力

  `XOX` のような形式。

  各々操作の種類の名前。

  ## 出力

  `21` のような形式。

  白の繋がっている部分の数。

  ## 補足

  実装ができた方は [Qiitaの記事](http://qiita.com/mtsmfm/items/8a78b895910a89e3012d) のコメント欄からリンクを張っていただくと見つけやすくて助かります。

h2 サンプルデータ

ruby:
  json = JSON.parse(File.read(File.join(__dir__, "2016-12-03-doukaku-e10/doukaku.json")), symbolize_names: true)

table
  thead
    tr
      th #
      th 入力
      th 期待
      th 状況へのリンク

  tbody
    - json.each.with_index do |data, i|
      tr
        td= i
        td= data[:input]
        td= data[:expected]
        td= link_to '状況', '', anchor: i

h2 テストデータ
textarea= json.map.with_index {|data, i| %!/*#{i}*/ test("#{data[:input]}", "#{data[:expected]}")! }.join("\n")

h2 状況一覧

- json.each.with_index do |data, i|
  h3{id= i} ##{i} : #{data[:input]}
  img{src=data[:image]}
  hr
